DB_SERVER=10.140.0.24
DB_USER=bonnie
DB_PASSWORD=
DB_NAME=
JWT_SECRET=
JOIN_URL=
LINE_CHANNEL_ID=你的ChannelID
LINE_CHANNEL_SECRET=你的ChannelSecret
LINE_CALLBACK_URL=http://localhost:3000/api/user/line/callback
FRONTEND_URL=http://localhost:3001
OAUTH_FRONTEND_URL_ALLOWLIST=http://localhost:3001
OAUTH_CALLBACK_URL_ALLOWLIST=http://localhost:3000
GOOGLE_CLIENT_ID=你的ID
GOOGLE_CLIENT_SECRET=你的金鑰
GOOGLE_CALLBACK_URL=http://localhost:3000/api/user/google-callback
FACEBOOK_CLIENT_ID=你的ID
FACEBOOK_CLIENT_SECRET=你的金鑰
FACEBOOK_CALLBACK_URL=http://localhost:3000/api/user/facebook-callback
